.Rproj.user
.Rhistory
.RData
.Ruserdata

_publish.yml

CV.qmd
CV.html

/.quarto/

_site/images/IMAG1955.jpg
images/IMAG1955.jpg

_site/images/logo_tiny.png
images/logo_tiny.png
_site/site_libs/bootstrap/images/logo_tiny.png